@import "./config";
@import "../node_modules/bulma/bulma.sass";
@import "./components/Layout";
@import "./global";
@import "./spacing";

.l-page-wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: minmax(auto, 70px) 1fr 50px;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #fcfcfc;
}
